@media (max-width: 1260px){
    .container{
        overflow-x: hidden;
        max-width: 100%;
        position: relative;
        &::before{
            content: url(/img/blob2.svg);
            position: absolute;
            left: -2%;
            top: 180px;
        }
    }
   .container__wrapper{
     max-width: 100%;
     height: 100vw;
   }
.header{
   background: none;
}
.menu__adaptive{
    display: flex;
    gap: 24px;
}
.toggle__header{
    display: none !important;
}
.header-info__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    position: relative;
    .auth{
        display: none;
    }
}
.logo__wrapper{
    display: flex;
    gap: 70px;
}
.but__list, h4{
    margin-right: 10%;
}
.but__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    &::after{
        content: '';
        display: none;
}
}
   

    .business-strategy__blocks-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        .business-strategy__item{
            border: none;
            position: relative;
            img{
                display: none;
            }
            &::before{
                content: url(/img/adaptive-bus-block.svg);
                position: absolute;
                left: -20px;
            }
        }
    }
    
    .main__wrapper{
        padding-top: 449px;
    }
    .platformDownload__wrapper{
        display: flex;
        flex-direction: column;
        gap: 21px;
        .platform__item{
            background-color: #FFF;
            position: relative;
            padding: 18px 26px;
            a{
                color: #252B42;
                padding-left: 75px;
                padding-top: 0;
                padding-bottom: 0;
                .b-text{
                    font-family: Object Sans;
                    font-size: 22.893px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26.709px;
                    letter-spacing: 0.191px;
                }
                img{
                    display: none;
                }
                span{
                    font-family: Object Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26.709px;
                    letter-spacing: 0.191px;
                }
                
            }
            .apple::before{
                content: url(/img/darkApple.svg);
                position: absolute;
                 right: 77%;
                 top: 27%;
            }
            .google::before{
                content: url(/img/darkPlay-store.svg);
                position: absolute;
                 right: 77%;
                 top: 27%;
            }
            .amazon::before{
                content: url(/img/darkAmazon.svg);
                position: absolute;
                 right: 77%;
                 top: 27%;
            }
            .windows::before{
                content: url(/img/darkWindows.svg);
                position: absolute;
                 right: 77%;
                 top: 27%;
            }
        }
    }
    .img__wrapper{
        width: 100%;
    }
    .findPrice__wrapper{
        display: flex;
        flex-direction: column;
    }
    .branch__wrapper .business__info{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .branch__wrapper .business__info::after{
        content: url(/img/pngwing.png);
        left: 18%;
        top: 321px;

    }
    .appointmentForm__wrapper{
        padding-top: 800px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        .form__wrapper{
            position: relative;
            width: 414px;
            margin-right: 200px;
            &::before{
                content: "";
                background-image: url(/img/contact-cover.1.png);
                width: 100%;
                height: 259px;
                left: 0;
                position: absolute;
                top: -261px;
                
            }
        }
    }
    .white-stroke1{
        width: 100vh;
        background: #252B42 !important;
        display: flex;
        flex-direction: column;
        
    }
    .footer__wrapper{
        padding-top: 278px;
        display: flex;
        flex-direction: column;
        gap: 30px !important;
      
    }
    .align__wrapper{
        margin-top: 400px;
        background-color: #FFF;
        .align-text{
            display: inline-block;
            line-height: 0 !important;
          
            width: 100%;
            height: 100px;
            
        }
        
        
    }
    
}
@media (max-width: 750px){
    .nav{
        .nav__wrapper{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .nav-list{
                .nav__list-wrapper{
                padding-top: 100px;
                gap: 30px;
                display: flex;
                flex-direction: column !important;
                a{
                    text-align: center;
                    /* mobile-menu */
                    font-family: Montserrat;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 45px; /* 150% */
                    letter-spacing: 0.2px;
                }
                }
            }
            .auth{
                display: none;
            }
        }
    }

}
@media(max-width: 742px){
    .img__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
