.main__wrapper{
    padding-top: 221px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.business-strategy__wrapper{
    p{
        color: #737373;
    }
    
}

.business-strategy__blocks-wrapper{
    display: grid;
    grid-template-areas: '1 1 1'
                         '2 2 2';
    gap: 30px;
    padding-top: 70px;
    .business-strategy__item{
        display: flex;
        border-radius: 2px;
        border: 1px solid #F2F2F2;
        width: 328px;
        padding: 35px 20px;
        // flex-direction: column;
        align-items: flex-start;
    }
}

.business-item__desc{
    // padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    h5{
        margin-bottom: 5px;
    }
  
}
.clientReview__wrapper{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   p{
    color: #FFF !important;
   }
    .img__wrapper{
    padding-top: 80px;
    }
}
.appinfo__wrapper{
    padding-top: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.business-strategy__info{
    h2{
        text-align: center;     
    }
    p{
        padding-top: 10px;     
        text-align: center;
    }
}
.platformDownload__wrapper{
    padding-top: 50px;
    display: flex;
    gap: 10px;
    .platform__item{
        border-radius: 10px;
        border: 1px solid #BDBDBD;
        /* Light Dropshadow */
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
        display: inline-flex;
        padding: 18px 28px;
        justify-content: center;
        align-items: center;
        gap: 25px;
        a{
        display: flex;
        gap: 25px;
        .link-text{
            display: flex;
            flex-direction: column;
        }
        }

    }
}
.priceBlock__wrapper{
    padding-top: 240px;
}
.findPrice__wrapper{
padding-top: 96px;
gap: 30px;
display: flex;
justify-content: center;
align-items: center;
gap: 30px;

    .findPriceText__wrapper{
        display: flex;
        color: #23A6F0;
        gap: 30px;
        .price__digit{
            display: flex;
            flex-direction: column;
            gap: 25px;
            button{
                display: flex;
                padding: 15px 40px;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                border-radius: 5px;
                background:  #23A6F0;
                color:  #FFF;
                text-align: center;
                /* btn-text */
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px; /* 157.143% */
                letter-spacing: 0.2px;
                border: none;
            }
        }
    }
    p{
        color: #737373;
    }
    .flex__wrapper{
        display: flex;
        gap: 10px;
        .second__wrapper{
            display: flex;
            flex-direction: column;
        }
    }
}
.findPrice__item{
display: flex;
border-radius: 10px;
border: 1px solid  #23A6F0;
background:  #FFF;
padding: 50px;
align-items: center;
}
.branch__wrapper{
padding-left: 63px;
padding-top: 260px;
justify-content: flex-start !important;
align-items: flex-start !important;
.business__info{
    h2, p{
        text-align: left !important;
    }
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    &::after{
        content: url(/lfinance/img/pngwing.png);
        position: absolute;
        left: 55%;
        top: 10%;
    }
}
}
.appointmentForm__wrapper{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.form__wrapper{
    z-index: 2;
    display: flex;
    margin-left: 300px;
    width: 610px;
    padding: 40px 50px;
    flex-direction: column;
    background-color: #FFF;
    align-items: center;
    gap: 40px;
    position: relative;
    &::before{
        content: url(/lfinance/img/contact-cover.2.png);
        position: absolute;
        right: 100%;
        top: 0;
    }
    h3{
        color: #252B42;
        text-align: center;
        font-weight: 600;
    }
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    label{
        font-weight: 600;
        display: flex;
        flex-direction: column;
        width: 509px;
        height: 84px;
        gap: 10px;
        color: #252B42;
        input, select, .custom__select{
            width: 510px;
            height: 50px;
            border-radius: 5px;
            border: 1px solid #E6E6E6;
            background: #F9F9F9;
            outline: none;
            &::placeholder{
                padding-left: 10px;
            }
          
        }
        .custom__select{
            position: relative;
            &::before,
&::after {
  
  position: absolute;
  content: url(/lfinance/img/Vector.svg);
  right: 1rem;
  pointer-events: none;
  top: 33.3%;
}
        }
        select{
            padding-left: 10px;
            appearance: none;
            color: #737373;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 200% */
            letter-spacing: 0.2px;

        }
        option{
            height: 300px;
            padding-top: 5px;
        }
    }
    button{
        display: flex;
        padding: 15px 40px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 5px;
        background: #23A6F0;
        color: #FFF;
        border: none;
    }
}
}